<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>User List</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>{{ first_name }}</td>
            <td>{{ last_name }}</td>
        </tr>
        <!-- {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
        {% endfor %} -->
    </table>

    <ul>
        {% for user in users %}
        <li>
            {{ loop.index }}: {{ user.first_name }}, ({{ user.last_name }})</li>
        {% endfor %}
    </ul>
</body>

</html>